{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">

      <!-- Intro message -->
<div class="alert alert-info mb-4 shadow-sm rounded-3">
  <h2 class="text-primary mb-2">Make Your Profile Shine ✨</h2>
  <p class="mb-0 text-muted">
    Take a moment to personalize your profile.<br>
    Upload a stylish picture, update your username, and keep your contact info fresh.
  </p>
</div>


      <div class="media">
        <img class="rounded-circle account-img" 
             src="{{ user.profile.image.url }}" 
             onerror="this.onerror=null; this.src='https://res.cloudinary.com/dxkbx5rmr/image/upload/v1749283799/Screenshot_2025-06-05_094214_u0kkry.png'"
             alt="Profile picture">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>

      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock content %}

